@import url(./vendor/normalize.css);
@font-face {
  font-family: Nunito;
  src: url(./fonts/Nunito/Nunito-VariableFont_wght.ttf);
}

.page {
  width: 1152px;
  position: relative;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 800px;
}

.header__wrapper {
  display: flex;
  height: 80px;
  z-index: 2;
  align-items: center;
  width: 100%;
  z-index: 5;
}

.logo {
  width: 192px;
  height: 33px;
  z-index: 5;
}

.logo_place_header {
  margin: 0 115px 0 80px;
}

.header__links_container {
  width: 430px;
  height: 22px;
  display: flex;
  align-items: center;
  z-index: 5;
}

.header__links_container_wrap {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: space-between;
  width: 430px;
  height: 22px;
  margin: 0;
  z-index: 5;
}

.header__link {
  text-decoration: none;
  color: #222222;
  font-family: Nunito;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  z-index: 5;
}

.header__link:hover {
  color: #DAA520;
}

.header__chair {
  position: absolute;
  right: 0;
  top: 165px;
  width: 568px;
  height: 577px;
}

.header__background {
  position: absolute;
  width: 370px;
  height: 800px;
  background-color: #F9BDBD;
  z-index: 0;
  border-bottom-left-radius: 15%;
  top: 0;
  right: 0;
}

.header__subtitle {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  color: #3E3F43;
  max-width: 504px;
  margin: 137px 0 16px 102px;
}

.span__accent {
  font-weight: bold;
}

.header__title {
  max-width: 504px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
  color: #313235;
  margin: 0 0 0 102px;
}

.who-we-are {
  width: 100%;
  padding-top: 120px;
}

.description {
  max-width: 952px;
  max-height: 98px;
  margin: 0 100px 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description__link {
  text-decoration: none;
  font-family: Nunito;
  font-style: normal;
  font-weight: 800;
  font-size: 72px;
  line-height: 98px;
  text-align: right;
  color: rgba(34, 34, 34, 0.1);
  text-transform: uppercase;
}

.description__title {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  color: #3E3F43;
}

.who-we-are__wrapper {
  margin-top: 65px;
  display: flex;
  align-items: center;
}

.who-we-are__main-part_image {
  width: 426px;
  height: 388px;
  position: relative;
  margin: 0 78px 0 100px;
}

.who-we-are__background {
  background-color: #F7DEA6;
  width: 278px;
  height: 380px;
  border-bottom-left-radius: 25%;
  border-top-right-radius: 25%;
}

.cup {
  position: absolute;
  width: 388px;
  height: 306px;
  bottom: 0;
  right: 0;
}

.who-we-are__main-text_title {
  max-width: 448px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 49px;
  color: #3E3F43;
}

.who-we-are__main-text_paragraph {
  max-width: 448px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
}

.customize {
  padding-bottom: 120px;
}

.customize__wrapper {
  display: flex;
  align-items: center;
}

.customize__text_title {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
  color: #000000;
  max-width: 668px;
  margin: 0 0 16px 102px;
}

.customize__text_paragraph {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
  max-width: 668px;
  margin: 0 0 0 102px;
}

.spoons {
  width: 287px;
  height: 384px;
  margin-right: 0;
  margin-left: auto;
}

.smalls-cards__container {
  list-style: none;
  padding: 0;
  margin: 64px 100px 0 100px;
  display: flex;
  max-width: 952px;
  justify-content: space-around;
  align-items: center;
}

.smalls-cards__container_item {
  width: 238px;
  height: 177px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.smalls-cards__num {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 96px;
  line-height: 131px;
/* identical to box height */
  text-align: center;
  z-index: -2;
  color: rgba(249, 189, 189, 0.25);
  margin: 0;
}

.one {
  left: 17px;
  top: 18.5px;
  position: absolute;
}

.two {
  top: 23px;
  left: 29px;
  position: absolute;
}

.three {
  top: 23.5px;
  left: 20px;
  position: absolute;
}

.four {
  top: 22.5px;
  left: 20px;
  position: absolute;
}

.button {
  background-color: #DAA520;
  border-radius: 4px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF; 
}

.button_place_small {
  width: 212px;
  height: 50px;
  margin: 78px 470px 0 470px;
}

.categories {
  padding-top: 120px;
  padding-bottom: 120px;
}

.big-cards {
  list-style: none;
  margin: 0 100px;
  padding: 0;
  display: flex;
  width: 952px;
  flex-wrap: wrap;
  column-gap: 56px;
  row-gap: 40px;
  box-sizing: content-box;
  padding-top: 40px;
}

.big-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 400px;
  background-color: #F7DEA6;
  border-bottom-left-radius: 25%;
  border-top-right-radius: 25%;
  position: relative;
}

.big-card:nth-child(1) {
  background-color: #F9BDBD;
}

.big-card:nth-child(4) {
  background-color: #F9BDBD;
}

.big-card:nth-child(3) {
  background-color: #A8DCEC;
}


.big-card__title {
  position: absolute;
  top: 24px;
  left: 16px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
/* identical to box height */
  text-align: center;
  color: #3E3F43;
  margin: 0;
  padding: 0;
}

.big-card__title_last {
  margin-left: 24px;
}

.buy__button {
  position: absolute;
  bottom: 24px;
  right: 16px;
  box-sizing: border-box;
  border-radius: 4px;
  width: 123px;
  height: 40px;
  background-color: #F7DEA6;
  z-index: 5;
}

.big-card:nth-child(3) > .buy__button {
  background-color: #A8DCEC;
}

.big-card:nth-child(1) > .buy__button {
  background-color: #F9BDBD;
}

.big-card:nth-child(4) > .buy__button {
  background-color: #F9BDBD;
}

.footer {
  width: 1152px;
  height: 455px;
  background-image: 
  url(/images/left.png),
  url(/images/right.png);
  background-position: left bottom, right bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-clip: content-box;
  position: relative;
  display: flex;
}

.footer__content {
  width: 709px;
  height: 138px;
  display: flex;
  justify-content: space-between;
  margin: 232px auto 85px 107px;
}

.footer__content::before{
  content: " ";
  border: 1px solid #C4C4C4;
  width: 708px;
  position: absolute;
  z-index: 5;
  left: 108px;
  top: 208px;
}


.logo_place_footer {
  margin-bottom: 10px;
}

.columns {
  width: 81px;
  height: 130px;
  margin: 0;
  padding: 0;
}

.footer__background {
  display: flex;
}

.footer__contacts {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #8D8D8D;
  padding: 0;
  margin: 0 0 16px 0;
}

.left {
  width: 644px;
  height: 455px;
  z-index: -5;
  background-image: url(./images/left.png);
}

.right {
  width: 508px;
  z-index: -5;
  height: 455px;
  background-image: url(./images/right.png);
}

.columns__links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.column__link {
  margin: 0 0 16px 0;
  padding: 0;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #8D8D8D;

}

.columns__title {
  margin: 8px 0 16px 0;
  padding: 0;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  max-height: 25px;
  max-width: 81px;
  white-space: nowrap;
}

.footer__link {
  text-decoration: none;
  color: #8D8D8D;
}